{% load static %}

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Starbelly - Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './admin/images/favicon.pn'%}g">
	<link rel="stylesheet" href="{% static './admin/vendor/chartist/css/chartist.min.css'%}">
    <link href="{% static './admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css'%}" rel="stylesheet">
    <link href="{% static './admin/css/style.css' %}" rel="stylesheet">
	<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
     
       <!-- Toastr -->
    <link rel="stylesheet" href="{% static './admin/vendor/toastr/css/toastr.min.css'%}">