<div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    <li><a class="ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-networking"></i>
							<span class="nav-text">Dashboard</span>
						</a>
                    </li>
                    
                    <li><a class="ai-icon" href="{% url 'messages' %}" aria-expanded="false">
							<i class="flaticon-381-layer-1"></i>
							<span class="nav-text">Inbox</span>
						</a>
                    </li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-controls-3"></i>
							<span class="nav-text">Order</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="./chart-flot.html">Orders List</a></li>
                            
                        </ul>
                    </li>
                    
                    
                    <li><a href="{% url 'reservations' %}" class="ai-icon" aria-expanded="false">
							<i class="flaticon-381-notepad"></i>
							<span class="nav-text">Reservations</span>
						</a>
					</li>
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-settings"></i>
							<span class="nav-text">Menu</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'addMenu' %}">Add To Menu</a></li>
                            <li><a href="{% url 'viewMenu' %}">Menu List</a></li>
                            <li><a href="{% url 'categories' %}">Categories</a></li>
                            <li><a href="{% url 'foodtype' %}">FoodTypes</a></li>

                            
                        </ul>
                    </li>
                    

                
                    <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
							<i class="flaticon-381-user"></i>
							<span class="nav-text">Team</span>
						</a>
                        <ul aria-expanded="false">
                            <li><a href="{% url 'viewUsers' %}">View Users</a></li>
                            <li><a href="{% url 'createUser' %}">Create User</a></li>
                        </ul>
                    </li>
                    
                    
                </ul>
            
				
			</div>
        </div>