<footer>
        <div class="container">
          <div class="sb-footer-frame">
            <a href="home-1.html" class="sb-logo-frame">
              <!-- logo img -->
              <img src="img/ui/logo.svg" alt="Starbelly">
            </a>
            <ul class="sb-social">
              <li><a href="home-1.html#."><i class="fab fa-twitter"></i></a></li>
              <li><a href="home-1.html#."><i class="fab fa-instagram"></i></a></li>
              <li><a href="home-1.html#."><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="home-1.html#."><i class="fab fa-youtube"></i></a></li>
            </ul>
            <div class="sb-copy">&copy; late 2021 Starbelly. All Rights Reserved.</div>
          </div>
        </div>
      </footer>