<nav id="sb-dynamic-menu" class="sb-menu-transition">
              <ul class="sb-navigation">
                <li class="{% if request.resolver_match.url_name == 'home' %} sb-active sb-has-children {% endif %}">
                  <a href="/">Home</a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'about' %} sb-active sb-has-children {% endif %}">
                  <a href="{% url 'about' %}">About</a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'menu' %} sb-active sb-has-children {% endif %}">
                  <a href="{% url 'menu' %}">Menu</a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'contact' %}sb-active sb-has-children{% endif %}">
                  <a href="{% url 'contact' %}">Contact</a>
                </li>
              </ul>
            </nav>