 {% load static %}
 
 <!-- jquery js -->
  <script src="{% static 'js/plugins/jquery.min.js'%}"></script>
  <!-- smooth scroll js -->
  <script src="{% static 'js/plugins/smooth-scroll.js'%}"></script>
  <!-- swup js -->
  <script src="{% static 'js/plugins/swup.min.js'%}"></script>
  <!-- swiper js -->
  <script src="{% static 'js/plugins/swiper.min.js'%}"></script>
  <!-- datepicker js -->
  <script src="{% static 'js/plugins/datepicker.js'%}"></script>
  <!-- isotope js -->
  <script src="{% static 'js/plugins/isotope.js'%}"></script>
  <!-- sticky -->
  <script src="{% static 'js/plugins/sticky.js'%}"></script>
  <!-- mapbox js -->
  <script src="{% static 'js/plugins/mapbox.min.js'%}"></script>
  <!-- fancybox js -->
  <script src="{% static 'js/plugins/fancybox.min.js'%}"></script>
  <!-- starbelly js -->
  <script src="{% static 'js/main.js'%}"></script>

  <!-- Toastr -->
    <script src="{% static './admin/vendor/toastr/js/toastr.min.js'%}"></script>

  {% if messages %}
    {% for message in messages %} 
	<script>
		 toastr.{{ message.tags }}("{{ message }}");
	</script>
       
    {% endfor %}

    {% endif %}