{% extends 'layouts/admin.html' %}

{% load static %}

    

{% block content %}

<div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                         <button type="button" class="btn btn-primary mb-2 rigt" data-toggle="modal" data-target="#basicModal">New Category</button>

                        </div>
                    </div>
                </div>
                <!-- row -->
                <!-- Modal -->
                                    <div class="modal fade" id="basicModal">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Add Food Type</h5>
                                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                                    </button>
                                                </div>
                                                <div class="p-3">
                                                    <form method="POST" action="" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        {% for field in form %}
                                                        <div class="form-group col-md-8">
                                                        <label>{{field.label}}</label>
                                                            {{field}}
                                                        </div>
                                                            
                                                            {% for error in field.errors %}
                                                            <p style="color:red;">{{error}}</p>
                                                            {% endfor %}  
                                                        {% endfor %} 
                                                    </div>
                                                    <button type="submit" class=" ml-5 btn btn-primary">Add</button>
                                                    
                                                </form>
                                                </div>
                                                
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Close</button>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Create FoodType</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr>
                                                
                                                <th><strong>FOODTYPE</strong></th>
                                                <th><strong>ACTION</strong></th>
                                                
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for foodtype in foodtypes %}
                                                <tr>
                                                <td><strong>{{foodtype.name}}</strong></td>
                                                
                                                
                                                <td>
                                                    <div class="d-flex">
														<a href="#" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
														<a href="{% url 'deleteFoodtype' foodtype.id %}" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
													</div>
											
												</td>
                                            </tr>
                                            {% endfor %}
                                                
											
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
					
					
                    
                    
                </div>
            </div>
        </div>

{% endblock %}
           